In [1]:
import os

import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:mysecretpass@localhost:5332/postgres')
df_trades = pd.read_sql("select * from trades", engine)

In [3]:
df_trades

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items
...,...,...,...,...,...,...,...,...
2269,ZAF,2002,890710,Export,847170.0,37613.0,11334.0,Number of items
2270,ZAF,2002,890710,Re-Import,24970.0,1118.0,13.0,Number of items
2271,ZAF,2002,890790,Import,532990.0,NaN,418657.0,Number of items
2272,ZAF,2002,890790,Export,85970.0,7737.0,15267.0,Number of items
2273,ZAF,2002,890790,Re-Import,38305.0,NaN,4.0,Number of items

In [4]:
df_countries = pd.read_json("country-data.json")

In [5]:
df_codes = pd.read_csv("hs_codes.csv")

In [6]:
df_parents = df_codes[df_codes['Level'] == 2].copy()

In [7]:
df_codes = df_codes[df_codes["Code_comm"].notnull()]

In [8]:
df_parents

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
52,1654607,2,20021000090,1.001100e+10,2,I,CHAPTERÂ 2 - MEAT AND EDIBLE MEAT OFFAL,MEAT AND EDIBLE MEAT OFFAL
140,1654695,2,30021000090,1.001100e+10,3,I,"CHAPTERÂ 3 - FISH AND CRUSTACEANS, MOLLUSCS AND...","FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT..."
416,1654971,2,40021000090,1.001100e+10,4,I,CHAPTERÂ 4 - DAIRY PRODUCE; BIRDS' EGGS; NATURA...,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...
463,1655018,2,50021000090,1.001100e+10,5,I,"CHAPTERÂ 5 - PRODUCTS OF ANIMAL ORIGIN, NOT ELS...","PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI..."
...,...,...,...,...,...,...,...,...
7238,1661793,2,930021000090,9.300110e+11,93,XIX,CHAPTERÂ 93 - ARMS AND AMMUNITION; PARTS AND AC...,ARMS AND AMMUNITION; PARTS AND ACCESSORIES THE...
7264,1661819,2,940021000090,9.400110e+11,94,XX,"CHAPTERÂ 94 - FURNITURE; BEDDING, MATTRESSES, M...","FURNITURE; BEDDING, MATTRESSES, MATTRESS SUPPO..."
7319,1661874,2,950021000090,9.400110e+11,95,XX,"CHAPTERÂ 95 - TOYS, GAMES AND SPORTS REQUISITES...","TOYS, GAMES AND SPORTS REQUISITES; PARTS AND A..."
7362,1661917,2,960021000090,9.400110e+11,96,XX,CHAPTERÂ 96 - MISCELLANEOUS MANUFACTURED ARTICLES,MISCELLANEOUS MANUFACTURED ARTICLES
7428,1661983,2,970021000090,9.700110e+11,97,XXI,"CHAPTERÂ 97 - WORKS OF ART, COLLECTORS' PIECES ...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [9]:
def clean_code(text):
    text = str(text)
    parent_code = None
    if len(text) == 11:
        code = text[:5]
        parent_code = text[:1]
    else:
        code = text[:6]
        parent_code = text[:2]
    try:
        parent = df_parents[df_parents["Code_comm"] == parent_code]["Description"].values[0]
    except:
        parent = None
    return (code, parent)

df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding)
...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi..."
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100Â years,Antiques of > 100 years old

In [10]:
df_codes[["clean_code", "parent_description"]] = df_codes.apply(lambda x: clean_code(x["Code"]), axis=1, result_type="expand")

In [11]:
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description,clean_code,parent_description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS,10011,LIVE ANIMALS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS,10021,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies",10100,LIVE ANIMALS
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses,10121,LIVE ANIMALS
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding),10129,LIVE ANIMALS
...,...,...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs",970200,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material",970300,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi...",970400,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...,970500,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100Â years,Antiques of > 100 years old,970600,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [12]:
df_codes = df_codes[df_codes["clean_code"].notnull()][["clean_code", "Description", "parent_description"]]

In [13]:
df_codes

,clean_code,Description,parent_description
1,10011,LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS
2,10021,LIVE ANIMALS,LIVE ANIMALS
3,10100,"Live horses, asses, mules and hinnies",LIVE ANIMALS
5,10121,Pure-bred breeding horses,LIVE ANIMALS
6,10129,Live horses (excl. pure-bred for breeding),LIVE ANIMALS
...,...,...,...
7432,970200,"Original engravings, prints and lithographs","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,970300,"Original sculptures and statuary, in any material","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,970400,"Postage or revenue stamps, stamp-postmarks, fi...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,970500,Collections and collector's pieces of zoologic...,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,970600,Antiques of > 100 years old,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [14]:
df_codes["id_code"] = df_codes.index + 1
df_codes["clean_code"] = df_codes["clean_code"].astype("int64")

In [15]:
df_codes

,clean_code,Description,parent_description,id_code
1,10011,LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS,2
2,10021,LIVE ANIMALS,LIVE ANIMALS,3
3,10100,"Live horses, asses, mules and hinnies",LIVE ANIMALS,4
5,10121,Pure-bred breeding horses,LIVE ANIMALS,6
6,10129,Live horses (excl. pure-bred for breeding),LIVE ANIMALS,7
...,...,...,...,...
7432,970200,"Original engravings, prints and lithographs","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7433
7433,970300,"Original sculptures and statuary, in any material","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7434
7434,970400,"Postage or revenue stamps, stamp-postmarks, fi...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7435
7435,970500,Collections and collector's pieces of zoologic...,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7436
7436,970600,Antiques of > 100 years old,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7437

In [16]:
df_countries

,country,images_file,image_url,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN
1,Albania,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN
2,Algeria,Flag_of_Algeria.svg,https://upload.wikimedia.org/wikipedia/commons...,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN
3,Andorra,Flag_of_Andorra.svg,https://upload.wikimedia.org/wikipedia/commons...,AD,AND,20.0,ISO 3166-2:AD,Europe,Southern Europe,None,150.0,39.0,NaN
4,Angola,Flag_of_Angola.svg,https://upload.wikimedia.org/wikipedia/commons...,AO,AGO,24.0,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,United States Minor Outlying Islands,None,None,UM,UMI,581.0,ISO 3166-2:UM,Oceania,Micronesia,None,9.0,57.0,NaN
269,Virgin Islands (British),None,None,VG,VGB,92.0,ISO 3166-2:VG,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
270,Virgin Islands (U.S.),None,None,VI,VIR,850.0,ISO 3166-2:VI,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
271,Wallis and Futuna,None,None,WF,WLF,876.0,ISO 3166-2:WF,Oceania,Polynesia,None,9.0,61.0,NaN
272,Western Sahara,None,None,EH,ESH,732.0,ISO 3166-2:EH,Africa,Northern Africa,None,2.0,15.0,NaN

In [17]:
df_countries = df_countries[["country", "alpha-3", "region", "sub-region"]]

In [18]:
df_countries = df_countries[df_countries["alpha-3"].notnull()]

In [19]:
df_countries["id_country"] = df_countries.index + 1

In [20]:
df_countries

,country,alpha-3,region,sub-region,id_country
0,Afghanistan,AFG,Asia,Southern Asia,1
1,Albania,ALB,Europe,Southern Europe,2
2,Algeria,DZA,Africa,Northern Africa,3
3,Andorra,AND,Europe,Southern Europe,4
4,Angola,AGO,Africa,Sub-Saharan Africa,5
...,...,...,...,...,...
268,United States Minor Outlying Islands,UMI,Oceania,Micronesia,269
269,Virgin Islands (British),VGB,Americas,Latin America and the Caribbean,270
270,Virgin Islands (U.S.),VIR,Americas,Latin America and the Caribbean,271
271,Wallis and Futuna,WLF,Oceania,Polynesia,272
272,Western Sahara,ESH,Africa,Northern Africa,273

In [21]:
df_trades_clean =  df_trades.merge(df_codes[["clean_code", "id_code"]], how="left", left_on="comm_code", right_on="clean_code")

In [22]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933
...,...,...,...,...,...,...,...,...,...,...
2269,ZAF,2002,890710,Export,847170.0,37613.0,11334.0,Number of items,890710,6945
2270,ZAF,2002,890710,Re-Import,24970.0,1118.0,13.0,Number of items,890710,6945
2271,ZAF,2002,890790,Import,532990.0,NaN,418657.0,Number of items,890790,6946
2272,ZAF,2002,890790,Export,85970.0,7737.0,15267.0,Number of items,890790,6946
2273,ZAF,2002,890790,Re-Import,38305.0,NaN,4.0,Number of items,890790,6946

In [23]:
df_trades_clean = df_trades_clean.merge(df_countries[["alpha-3", "id_country"]], how="left", left_on="country_code", right_on="alpha-3")

In [24]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_country
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929,SYC,155
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931,SYC,155
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933,SYC,155
...,...,...,...,...,...,...,...,...,...,...,...,...
2269,ZAF,2002,890710,Export,847170.0,37613.0,11334.0,Number of items,890710,6945,ZAF,162
2270,ZAF,2002,890710,Re-Import,24970.0,1118.0,13.0,Number of items,890710,6945,ZAF,162
2271,ZAF,2002,890790,Import,532990.0,NaN,418657.0,Number of items,890790,6946,ZAF,162
2272,ZAF,2002,890790,Export,85970.0,7737.0,15267.0,Number of items,890790,6946,ZAF,162
2273,ZAF,2002,890790,Re-Import,38305.0,NaN,4.0,Number of items,890790,6946,ZAF,162

In [25]:

def create_dimension(data: list, name_id: str):
    keys_list = [ i+1 for i, _ in enumerate(data) ]
    return pd.DataFrame({name_id: keys_list, "values": data})
df_quantity = create_dimension(df_trades_clean["quantity_name"].unique(), "id_quantity")
df_flow = create_dimension(df_trades_clean["flow"].unique(), "id_flow")
df_year = create_dimension(df_trades_clean["year"].unique(), "id_year")

In [26]:
df_trades_clean = df_trades_clean.merge(df_quantity, how="left", left_on="quantity_name", right_on="values" )
df_trades_clean = df_trades_clean.merge(df_flow, how="left", left_on="flow", right_on="values")
df_trades_clean = df_trades_clean.merge(df_year, how="left", left_on="year", right_on="values")

In [27]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_country,id_quantity,values_x,id_flow,values_y,id_year,values
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929,SYC,155,1,Number of items,1,Import,1,1998
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931,SYC,155,1,Number of items,1,Import,1,1998
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155,1,Number of items,2,Export,1,1998
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155,1,Number of items,3,Re-Export,1,1998
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933,SYC,155,1,Number of items,1,Import,1,1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2269,ZAF,2002,890710,Export,847170.0,37613.0,11334.0,Number of items,890710,6945,ZAF,162,1,Number of items,2,Export,9,2002
2270,ZAF,2002,890710,Re-Import,24970.0,1118.0,13.0,Number of items,890710,6945,ZAF,162,1,Number of items,4,Re-Import,9,2002
2271,ZAF,2002,890790,Import,532990.0,NaN,418657.0,Number of items,890790,6946,ZAF,162,1,Number of items,1,Import,9,2002
2272,ZAF,2002,890790,Export,85970.0,7737.0,15267.0,Number of items,890790,6946,ZAF,162,1,Number of items,2,Export,9,2002
2273,ZAF,2002,890790,Re-Import,38305.0,NaN,4.0,Number of items,890790,6946,ZAF,162,1,Number of items,4,Re-Import,9,2002

In [28]:
df_trades_clean["id_trades"] = df_trades_clean.index + 1
df_trades_final = df_trades_clean[["id_trades", "trade_usd", "kg", "quantity", "id_flow", "id_year", "id_quantity", "id_code", "id_country"]]

In [29]:
df_trades_final

,id_trades,trade_usd,kg,quantity,id_flow,id_year,id_quantity,id_code,id_country
0,1,1431426.0,0.0,23000.0,1,1,1,6929,155
1,2,31406.0,0.0,2545.0,1,1,1,6931,155
2,3,950.0,0.0,300.0,2,1,1,6931,155
3,4,950.0,0.0,300.0,3,1,1,6931,155
4,5,18251.0,0.0,450.0,1,1,1,6933,155
...,...,...,...,...,...,...,...,...,...
2269,2270,847170.0,37613.0,11334.0,2,9,1,6945,162
2270,2271,24970.0,1118.0,13.0,4,9,1,6945,162
2271,2272,532990.0,NaN,418657.0,1,9,1,6946,162
2272,2273,85970.0,7737.0,15267.0,2,9,1,6946,162
2273,2274,38305.0,NaN,4.0,4,9,1,6946,162

In [30]:
df_countries = df_countries[["id_country", "alpha-3", "country", "region", "sub-region"]]
df_codes = df_codes[["id_code", "clean_code", "Description", "parent_description"]]

In [73]:
df_trades_final.to_csv("target/trades.csv", index=False, sep="|")
df_codes.to_csv("target/codes.csv", index=False, sep="|")
df_countries.to_csv("target/countries.csv", index=False, sep="|")
df_flow.to_csv("target/flow.csv", index=False, sep="|")
df_year.to_csv("target/years.csv", index=False, sep="|")
df_quantity.to_csv("target/quantity.csv", index=False, sep="|")

In [74]:
import boto3
from settings import Settings
import redshift_connector
client = boto3.client(
    "s3",
    aws_access_key_id=Settings.AWS_ACCESS_KEY_ID,
    aws_secret_access_key = Settings.AWS_SECRET_ACCESS_KEY
)
conn = redshift_connector.connect(
    host=Settings.REDSHIFT_HOST,
    database=Settings.REDSHIFT_DATABASE,
    port=Settings.REDSHIFT_PORT,
    user=Settings.REDSHIFT_USER,
    password=Settings.REDSHIFT_PASSWORD
)
cursor = conn.cursor()

In [77]:
def load_file(file_name):
    table_name = file_name.split(".")[0]
    client.upload_file(
        Filename="target/{}".format(file_name),
        Bucket="etl-bucket-demo",
        Key="etl-target/{}".format(file_name)
    )
    sentence = '''COPY etl_test.{} 
                FROM 's3://etl-bucket-demo/etl-target/{}' 
                CREDENTIALS 'aws_access_key_id={};aws_secret_access_key={}' 
                CSV DELIMITER '|' 
                REGION 'us-east-1' 
                IGNOREHEADER 1
                '''.format(table_name, file_name, Settings.AWS_ACCESS_KEY_ID, Settings.AWS_SECRET_ACCESS_KEY)
    try:
        cursor.execute(sentence)
        print(f"OK en la tabla {table_name}")
    except Exception as e:
        print(f"Error en la tabla {table_name}: {e}")
        conn.rollback()

In [78]:
import os
# load_file("years.csv")
list_files = os.listdir("target/")
for _ in list_files:
    load_file(_)

OK en la tabla countries
OK en la tabla flow
OK en la tabla trades
OK en la tabla years
OK en la tabla quantity
OK en la tabla codes

In [79]:
conn.commit()

In [80]:
conn.close()